@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}

body {
  font-family: var(--font-inter), sans-serif;
  max-width: 480px;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-inter), sans-serif;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

.pulse-animation {
  animation: pulse 1s infinite;
}

@layer utilities {
  .font-variable-normal {
    font-variation-settings:
      'wght' 100,
      'wdth' 85;
  }

  .font-variable-bold-wide {
    font-variation-settings:
      'wght' 700,
      'wdth' 200;
  }

  h1 span {
    display: inline-block;
    animation: breathe 4s infinite both;
  }

  h1:hover span {
    animation-play-state: paused;
  }

  @keyframes breathe {
    0%,
    100% {
      font-variation-settings:
        'wght' 100,
        'wdth' 85;
      color: #6d1b7b;
    }
    25% {
      color: #e63946;
    }
    50% {
      font-variation-settings:
        'wght' 700,
        'wdth' 200;
      color: #f4a261;
    }
    75% {
      color: #e9c46a;
    }
    100% {
      color: #8338ec;
    }
  }
}
